
//引入字体
@font-face {
  font-family: yofont;
  src: url("/nongjiwang/images/iconfont/iconfont.woff") format("woff"),
   url("/nongjiwang/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/nongjiwang/images/iconfont/iconfont2.woff") format("woff"),
   url("/nongjiwang/images/iconfont/iconfont2.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/nongjiwang/images/iconfont/iconfont3.woff") format("woff"),
   url("/nongjiwang/images/iconfont/iconfont3.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/nongjiwang/images/iconfont/iconfont4.woff") format("woff"),
   url("/nongjiwang/images/iconfont/iconfont4.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/nongjiwang/images/iconfont/iconfont-jiantou.woff") format("woff"),
   url("/nongjiwang/images/iconfont/iconfont-jiantou.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/nongjiwang/images/iconfont/iconfont-cart.woff") format("woff"),
   url("/nongjiwang/images/iconfont/iconfont-cart.ttf") format("truetype");
}
